body {
    margin: 60px auto;
    width: 45%;
    background-color: #1C1C1E;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #3CCF8D;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: #3CCF8D;
}
a:hover {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #E5E5EA;
}
footer {
    border-top: 2px solid #AFBED1;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #E5E5EA;
}

ul.posts li {
    list-style: none;
    color: #E5E5EA;
}
